@charset "UTF-8";

/*
共通部分
================================================ */
html {
    font-size: 100%;
    scroll-behavior: smooth;
}
:root{
    --main-color: #bbb;
    --grey: rgb(51, 51, 51);
    --white: #ccc;
    --gold: #AB965F;
}
body {
    font-family: "", "", serif;
    line-height: 1.7;
    color: #fff;
    background-color: black;
    text-align: center;
}
a {
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
}


/* Layout */
.wrapper {
    width: 100%;
}


/*
HEADER
================================================ */
header {
    background: var(--grey);
    padding: .5rem 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header a {
    color: white;
    font-size: 1.5rem;
}
.btn-menu {
    position: absolute;
    top: 5px;
    right: 30px;
    border: 1px solid rgba(255,255,255,.5);
    color: white;
    font-size: 1.5rem;
    padding: .1rem 1rem;
}
.main-nav {
    background: rgb(51, 51, 51, .8);
    width: 0;
    height: 60vh;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    overflow: hidden;
    transition: .5s;
}
.main-nav li {
    text-align: center;
    margin: 2rem 0;
    white-space: nowrap;
}
.main-nav a {
    display: block;
}
.main-nav.open-menu {
    width: 40%;
}


/*
top
================================================ */
#top {
    background-image: url('../images/main-desctop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}
#top h2 {
    font-size: 3rem;
    text-shadow: 4px 2px 2px #333;
    position: absolute;
    top: 40%;
    left: 10%;
}
#top h1 {
    font-size: 11rem;
    text-shadow: 6px 5px 4px #333;
    position: absolute;
    bottom: -9%;
    left: 1rem;
    font-style: italic;
}


/*
campaign
================================================ */
.campaign {
    background-color: #494949;
    width: 60%;
    margin: 7rem auto;
    padding: 2rem;
}
.campaign h3 {
    font-size: 2rem;
    color: var(--gold);
    text-shadow: 3px 2px 2px #333;
}
.campaign p {
    margin: 1rem;
}
.campaign a {
    font-size: 1.3rem;
    background-color: var(--gold);
    text-shadow: 2px 2px 2px #333;
    width: 60%;
    display: block;
    margin: 1.5rem auto;
    padding: 5px;
    box-shadow: 3px 2px 2px #333;
}


/*
concept
================================================ */
#concept {
    background: url('../images/main2.jpg') no-repeat right top;
    background-size: 70vw auto;
    filter: opacity(75%);
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
#concept h3 {
    color: var(--gold);
    font-size: 5rem;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, .5);
    z-index: 3;
}
#concept p1, p3 {
    color: #333;
    background-color: rgba(255, 255, 255, .8);
    width: fit-content;
    margin: 1rem;
    padding: 2rem;
    position: relative;
    left: 10%;
    z-index: 3;
}
#concept p2 {
    color: #333;
    background-color: rgba(255, 255, 255, .8);
    width: fit-content;
    margin: 1rem;
    padding: 2rem;
    position: relative;
    right: -50%;
    z-index: 3;
}


/*
price
================================================ */
#price {
    width: 80%;
    margin: 100px auto;
}
#price h3 {
    font-size: 3rem;
    padding: 10px;
}
.price-table {
    width: 70%;
    max-width: 800px;
    margin: auto;
}
table {
    background-color: #494949;
    border: 1px solid #fff;
    border-collapse: collapse;
}
.price-table th,td {
    padding: 10px;
    border: solid 1px #fff;
}
table span {
    font-size: 10px;
}


/*
campaign-main
================================================ */
#campaign {
    background-color: #494949;
    width: 70%;
    margin: 8rem auto;
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
}
#campaign h3 {
    color: var(--gold);
    font-size: 3rem;
    text-shadow: 3px 2px 2px #333;
}
#campaign p {
    font-size: 1.5rem;
    margin: 1rem;
}
.box {
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
    column-gap: 50px;
}
#campaign h4 {
    font-size: 2rem;
    text-align: left;
}
#campaign h4 span{
    font-size: 3.5rem;
    color: var(--gold);
    text-shadow: 3px 2px 2px #333;
}
.information a {
    font-size: 2rem;
    background-color: var(--gold);
    background-size: auto;
    text-shadow: 2px 2px 2px #333;
    box-shadow: 3px 2px 2px #333;
    padding: 5px 10px;
    display: block;
    margin: 3rem auto;
}


/*
attendance
================================================ */
#attendance {
    background-image: url(../images/main3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 20% 0;
    z-index: 1;
}
#attendance .radialgradient {
    position: absolute;
    height: 100%;
    background: radial-gradient(circle at center, rgba(0, 0, 0, .5),rgba(0, 0, 0, 1));
    z-index: 2;
}
#attendance h2 {
    font-size: 5rem;
    text-shadow: 3px 2px 5px rgba(0, 0, 0, .6);
    z-index: 2;
    position: absolute;
    top: -10%;
    left: 10%;
}
#attendance .attend {
    width: 70%;
    margin: 2rem auto;
    z-index: 2;
}
.attend-item {
    background-color: rgba(69, 69, 69, 0.7);
    display: flex;
    margin: 2rem auto;
    padding: 10px;
    z-index: 3;
}
.itemtext {
    flex-flow: column;
    text-align: left;
}
.itemtext p {
    font-size: 14px;
    padding: 5px;
}
.attend-title {
    font-size: 1.5rem;
    border-bottom: solid 1px #fff;
}
i {
    font-size: 60px;
    margin: 0 7%;
}


/*
footer
================================================ */
.footer {
    background-image: url(../images/footer.jpg);
    object-fit: cover;
    background-size: 60%;
    background-position: left;
    height: 30vh;
    display: flex;
    padding: 0 10%;
    z-index: 1;
}
.gradient2 {
    position: absolute;
    height: 30vh;
    width: 60%;
    left: 0;
    background-image: linear-gradient(90deg,rgb(51, 51, 51, 0.5),rgb(51, 51, 51, 1));
    z-index: 2;
}
.text {
    width: 30%;
    text-align: left;
    z-index: 2;
}
.text h3 {
    font-size: .8rem;
    padding: 10px 0 0 0;
}
.area {
    position: relative;
    bottom: -40px;
}
.text p {
    font-size: .9rem;
}
ul {
    background-color: var(--grey);
    position: absolute;
    width: 40%;
    height: 30vh;
    right: 0;
}
li {
    text-align: right;
    padding: 0 35%;
    margin: 10px 0;
}




/*
MOBILE SIZE
================================================ */
@media (max-width: 700px){
    body {
        font-size: 14px;
    }

    .wrapper {
        padding: 0 0.5rem;
    }

    /* ヘッダー */
    header {
        padding: 0.5rem;
    }

    header .logo {
        font-size: 1.2rem;
    }

    .btn-menu {
        font-size: 1rem;
        padding: 0.2rem 0.8rem;
    }

    .main-nav.open-menu {
        width: 100%;
        height: 100vh;
    }

    /* トップページ */
    #top {
        background-size: cover;
        height: 80vh;
    }

    #top h1 {
        font-size: 300%;
        bottom: 15%;
        left: 5%;
    }

    #top h2 {
        font-size: 1.5rem;
        top: 30%;
        left: 5%;
    }

    /* キャンペーン */
    .campaign {
        width: 90%;
        padding: 1rem;
    }
    .campaign a {
        display: block;
        margin: 1rem auto;
        font-size: 1rem;
        width: 80%;
    }

    /* コンセプト */
    #concept {
        background-size: cover;
        background-position: center;
        filter: opacity(75%);
        height: auto;
        margin: 5rem 0;
        padding: 2rem 1rem;
    }
    .gradient {
        display: none;
    }
    #concept h3 {
        position: static;
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    #concept p1, #concept p2, #concept p3 {
        color: black;
        background-color: rgba(255, 255, 255, .8);
        position: static;
        display: block;
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
    }

    /* 料金表 */
    #price {
        width: 95%;
        margin: 3rem auto;
    }
    table {
        font-size: 0.8rem;
    }
    .price-table {
        width: 100%;
    }

    /* キャンペーン */
    #campaign {
        background-size: cover;
        width: 90%;
        padding: 1rem;
    }
    #campaign p {
        font-size: 1rem;
        padding: 5px;
        margin: 0;
    }
    #campaign .box {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #campaign h3 {
        font-size: 2rem;
    }
    #campaign h4 {
        font-size: 2rem;
    }
    #campaign h4 span{
        font-size: 2.5rem;
    }
    #campaign a {
        display: block;
        margin: .5rem auto;
        font-size: 1rem;
        width: 80%;
    }

    /* 受講の流れ */
    #attendance {
        background-size: cover;
        margin: 5rem 0;
    }
    #attendance h2 {
        font-size: 230%;
        top: -3%;
    }
    .attend-item {
        flex-direction: column;
        text-align: center;
    }
    i {
        font-size: 40px;
        margin: 1rem 0;
    }

    /* フッター */
    .footer {
        background-size: cover;
        background-position: center;
        height: auto;
        padding: 5% 0;
        position: relative;
    }
    .gradient2 {
        background-color: rgba(0, 0, 0, .4);
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .area {
        position: relative;
        bottom: -10%;
    }
    .text {
        width: 50%;
        position: 1rem 0;
        left: 7%;
    }
    ul {
        list-style: none;
        width: 100%;
        height: auto;
        background: none;
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        z-index: 4;
    }
    li {
        position: relative;
        right: 7%;
        padding: 0;
        margin: 0;
    }
}
